<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'>
<div class="wrap cf">
  <h1 class="projTitle">Bvegan<span></span> Shopping Cart</h1>
  <div class="heading cf">
    <h1>My Cart</h1>
    <a href="#" class="continue">Continue Shopping</a>
  </div>
  <div class="cart">
<!--    <ul class="tableHead">
      <li class="prodHeader">Product</li>
      <li>Quantity</li>
      <li>Total</li>
       <li>Remove</li>
    </ul>-->
    <ul class="cartWrap">
      <li class="items odd">
        
    <div class="infoWrap"> 
        <div class="cartSection">
        <img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg" alt="" class="itemImg" />
          <p class="itemNumber">#QUE-007544-002</p>
          <h3>Item Name 1</h3>
    <footer class="content">
          <span class="qt-minus">-</span>
          <span class="qt">0</span>
          <span class="qt-plus">+</span>
          <p class="stockStatus"> In Stock</p>          </footer>
        
        </div>  
    
        
        <div class="prodTotal cartSection">
          <p>Rs15.00</p>
        </div>
              <div class="cartSection removeWrap">
           <a href="#" class="remove">x</a>
        </div>
             
      </div>
      </li>
      <li class="items even">
        
       <div class="infoWrap"> 
        <div class="cartSection">
         
        <img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg" alt="" class="itemImg" />
          <p class="itemNumber">#QUE-007544-002</p>
          <h3>Item Name 1</h3>
         <footer class="content">
          <span class="qt-minus">-</span>
          <span class="qt">0</span>
          <span class="qt-plus">+</span>
          <p class="stockStatus"> In Stock</p>          </footer>
        </div>  
    
        
        <div class="prodTotal cartSection">
          <p>Rs15.00</p>
        </div>
              <div class="cartSection removeWrap">
           <a href="#" class="remove">x</a>
        </div>
      </div>
      </li>
      
            <li class="items odd">
             <div class="infoWrap"> 
        <div class="cartSection">
            
        <img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg" alt="" class="itemImg" />
          <p class="itemNumber">#QUE-007544-002</p>
          <h3>Item Name 1</h3>
         <footer class="content">
          <span class="qt-minus">-</span>
          <span class="qt">0</span>
          <span class="qt-plus">+</span>
          <p class="stockStatus out"> Out of Stock</p>        </footer>
         
        </div>  
    
        
        <div class="prodTotal cartSection">
          <p>Rs15.00</p>
        </div>
                    <div class="cartSection removeWrap">
           <a href="#" class="remove">x</a>
        </div>
              </div>
      </li>
      <li class="items even">
       <div class="infoWrap"> 
        <div class="cartSection info">
             
        <img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg" alt="" class="itemImg" />
          <p class="itemNumber">#QUE-007544-002</p>
          <h3>Item Name 1</h3>
        
         <footer class="content">
          <span class="qt-minus">-</span>
          <span class="qt">0</span>
          <span class="qt-plus">+</span>
          <p class="stockStatus out"> Out of Stock</p>        </footer>
          
        </div>  
    
        
        <div class="prodTotal cartSection">
          <p>Rs15.00</p>
        </div>
    
            <div class="cartSection removeWrap">
           <a href="#" class="remove">x</a>
        </div>
         </div>
         <div class="special"><div class="specialContent">Free gift with purchase!, gift wrap, etc!!</div></div>
      </li>
      
      
      <!--<li class="items even">Item 2</li>-->
 
    </ul>
  </div>
  
  <div class="promoCode"><label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
  <a href="#" class="btn"></a></div>
  
  <div class="subtotal cf">
    <ul>
      <li class="totalRow"><span class="label">Subtotal</span><span class="value">Rs35.00</span></li>
      
          <li class="totalRow"><span class="label">Shipping</span><span class="value">Rs5.00</span></li>
      
            <li class="totalRow"><span class="label">Tax</span><span class="value">Rs4.00</span></li>
            <li class="totalRow final"><span class="label">Total</span><span class="value">Rs44.00</span></li>
      <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
    </ul>
  </div>
</div>