

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-6 col-xs-6" *ngFor="let c of categories">
        <div class="shop">
          <div class="shop-img">
            <img src={{c.url}} alt="">
          </div>
          <div class="shop-body">
            <h3>{{c.name}}</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->

<!-- /SECTION -->

<!-- HOT DEAL SECTION -->

<!-- /HOT DEAL SECTION -->

<!-- NEWSLETTER -->


