<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container mt-4">
    <h4 class="text-center font-italic mb-4">Featured Categories
      <span class="fa fa-star fa-lg text-warning"></span>
    </h4>
    
    <div class="row justify-content-center font-italic mt-4">

      <div class="col-md-4">
        <!--product card-->
        <article class="card text-center font-italic mb-4">
          <!--product image-->
          <a href="https://www.google.co.in/"><img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/6f75198e-e711-461f-ad73-88ac3715222.jpg" alt="image" class="card-img-top"></a>
          <div class="card-body">
            <!--product name-->
            <h5 class="card-title">
              Fruits
            </h5>
            <!--product rating-->
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <!--product card-->
        <article class="card text-center font-italic mb-4">
          <!--product image-->
          <a href="https://www.google.co.in/"><img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/6f75198e-e711-461f-ad73-88ac3715222.jpg" alt="image" class="card-img-top"></a>
          <div class="card-body">
            <!--product name-->
            <h5 class="card-title">
              Vegetables
            </h5>
            <!--product rating-->
            <!--more info button-->
             </div>
        </article>
      </div>
    </div>
  </div>
<br>
<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
