<br>
<h1>Verify Account</h1>
<p>We have sent the OTP to your Email id</p>
<div class="otp-page-wrapper">
<form class="otp" autocomplete="off" novalidate>
    <fieldset>
      <input maxlength="1"/>
      <input maxlength="1"/>
      <input maxlength="1"/>
      <input maxlength="1"/>
      <input maxlength="1"/>
      <input maxlength="1"/>
    </fieldset>
</form>
<br>
<p>Din't receive an OTP ? Resend</p>
<br>
<div class="d-flex flex-column align-items-center justify-content-around">
<button class="button">Resend</button>
</div>
</div>
<br><br>