<!--<div class="container">
<div class="card">
  <h2>David Manfield</h2>
  
 <div class="title title--epic">ADD to cart</div>
  <div class="desc">David can develop any kind of software, he started learning to code for about 10 years!</div>
  
</div>-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <br> <br>
<div class="container">
<div class="row">
<div class="col-md-4" *ngFor="let p of products">
  <figure class="card card-product">
    <div class="img-wrap"><img src={{p.productImagesEntityList[0].productImageUrl}}></div>
    <figcaption class="info-wrap">
        <h4 class="title">{{p.name}}</h4>
        <p class="desc">{{p.unitInGramsPerUnit}}g</p>
        <div class="price-wrap h5">
          <span class="price-new">Rs {{p.sellingPricePerUnit}}</span> &nbsp;<del class="price-old">Rs {{p.displayPricePerUnit}}</del>
        </div> 
    </figcaption>
    <div class="center">
        <a href="" class="btn btn-sm btn-success">Order Now</a> 
    </div> <!-- bottom-wrap.// -->
  </figure>
</div> <!-- col // -->
</div> <!-- row.// -->



</div> 
<!--container.//-->
