<head>
<meta charset="UTF-8">
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<br><br>
<div class="container">
<div *ngIf="userRole=='ADMIN'" class="row">
<div class="col-md-4" *ngFor="let p of products">
  <figure class="card card-product">
    <div class="img-wrap"><img src={{p.productImagesEntityList[0].productImageUrl}}></div>
    <figcaption class="info-wrap">
         <div class="desc" class="editable"><i class="fa fa-pencil"></i><input name="status" 
          [(ngModel)]="p.status"/></div>
         <div class="title" class="editable"><i class="fa fa-pencil"></i><input name="name" [(ngModel)]="p.name"/></div>
         <div class="desc" class="editable"><i class="fa fa-pencil"></i><input name="unitInGramsPerUnit" 
          [(ngModel)]="p.unitInGramsPerUnit"/>
         </div>

        <div class="editable">
          <div class="editable">
            <span class="price-new">
              <i class="fa fa-pencil"></i>Rs.
              <input name="sellingPricePerUnit" 
              [ngModel]="p.sellingPricePerUnit" (ngModelChange)="p.sellingPricePerUnit=$event" 
              />
            </span> &nbsp;<del class="editable"class="price-old">
              Rs.<input name="displayPricePerUnit" 
              [ngModel]="p.displayPricePerUnit" (ngModelChange)="p.displayPricePerUnit=$event" 
              />
            </del>
          </div>
        </div>
    </figcaption>

<div class="center">
<div class="main">
    <div class="btn">
        <button class="minusBtn">-</button>
        <button class="mainBtn" (click)="adminUpdateProductDetails(p.productId)">Save</button>
    </div>
</div>
</div>

</figure>

</div> <!-- col // -->
</div> <!-- row.// -->
</div> 

<script>

    let btn = document.querySelector('.mainBtn');
    let mbtn = document.querySelector('.minusBtn'); 
    let pbtn = document.querySelector('.plusBtn');
    
    btn.addEventListener("click",()=>{
        if(btn.innerText == 'ADD TO CART'){
            btn.innerText = 1 ; 
            pbtn.style.display = 'inline-block';
            mbtn.style.display = 'inline-block';
        }
    })     
    mbtn.addEventListener("click",()=>{
    if(btn.innerText ==5){
        pbtn.style.display='inline-block';
    }

    if(btn.innerText < 2){    
        btn.innerText = 'ADD TO CART'; 
        pbtn.style.display = 'none';
        mbtn.style.display = 'none';
    }else{
        btn.innerText=btn.innerText - 1;
    }
    }) 

    pbtn.addEventListener("click",()=>{
    
        btn.innerText = +(btn.innerText) + 1 ;
        if(btn.innerText == 5){
            pbtn.style.display='none';
        } 
    }) 

$(function() {
$('#profile').addClass('dragging').removeClass('dragging');
});
$('#profile').on('dragover', function() {
  $('#profile').addClass('dragging')
}).on('dragleave', function() {
  $('#profile').removeClass('dragging')
}).on('drop', function(e) {
  $('#profile').removeClass('dragging hasImage');
  if (e.originalEvent) {
    var file = e.originalEvent.dataTransfer.files[0];
    console.log(file);
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function(e) {
      console.log(reader.result);
      $('#profile').css('background-image', 'url(' + reader.result + ')').addClass('hasImage');

    }

  }
})
$('#profile').on('click', function(e) {
  console.log('clicked')
  $('#mediaFile').click();
});
window.addEventListener("dragover", function(e) {
  e = e || event;
  e.preventDefault();
}, false);
window.addEventListener("drop", function(e) {
  e = e || event;
  e.preventDefault();
}, false);
$('#mediaFile').change(function(e) {
  var input = e.target;
  if (input.files && input.files[0]) {
    var file = input.files[0];
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function(e) {
      console.log(reader.result);
      $('#profile').css('background-image', 'url(' + reader.result + ')').addClass('hasImage');
    }
  }
})
</script>