<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <br> <br>
<div class="container">
<div class="row">
<div class="col-md-4">
  <figure class="card card-product">
    <div class="img-wrap"><img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg"></div>
    <figcaption class="info-wrap">
        <h4 class="title">Pomegranate</h4>
        <p class="desc">1000g</p>
        <div class="price-wrap h5">
          <span class="price-new">Rs 50.25</span> &nbsp;<del class="price-old">Rs 80.5</del>
        </div> 
    </figcaption>
    <div class="center">
        <a href="" class="btn btn-sm btn-success">Order Now</a> 
    </div> <!-- bottom-wrap.// -->
  </figure>
</div> <!-- col // -->
<div class="col-md-4">
  <figure class="card card-product">
    <div class="img-wrap"><img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg"> </div>
    <figcaption class="info-wrap">
        <h4 class="title">Apple</h4>
        <p class="desc">1000g</p>
        <div class="price-wrap h5">
          <span class="price-new">Rs 180.5</span> &nbsp;<del class="price-old">Rs 200</del>
        </div> 
    </figcaption>
    <div class="center">
        <a href="" class="btn btn-sm btn-success">Order Now</a> 
    </div>
  </figure>
</div> <!-- col // -->


<div class="col-md-4">
  <figure class="card card-product">
    <div class="img-wrap"><img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg"></div>
    <figcaption class="info-wrap">
        <h4 class="title">Orange</h4>
        <p class="desc">1000g</p>
        <div class="price-wrap h5">
          <span class="price-new">Rs 60.3</span> &nbsp;<del class="price-old">Rs 80</del>
        </div> 
    </figcaption>
    <!--<div class="bottom-wrap">-->
    <div class="center">
        <a href="" class="btn btn-sm btn-success">Order Now</a> 
    </div>
    <!--</div>-->
  </figure>
</div> <!-- col // -->
</div> <!-- row.// -->



</div> 
<!--container.//-->
