<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Summary</a>
    <ng-template ngbNavContent>
    <div class="col-sm-12">
    <h6>DELIVERY SLOT</h6>
    <div class="card">
      <div class="card-body">
        
        <div class="editable"><i class="fa fa-pencil"></i><p class="card-text" contenteditable>Fri 26 Aug 2020</p></div>
        <div class="editable"><i class="fa fa-pencil"></i><p class="card-text" contenteditable>10:00 AM - 12:00 PM</p></div>
        <p class="card-text">Order Status: Complete</p>
      </div>
    </div>
  </div>

 <br>
 <div class="col-sm-12">
      <h6>ADDRESS</h6>
     <div class="card">
      <div class="card-body">
        <p class="card-text">Vishnu Vijay</p>
        <p class="card-text">Address </p>
        <p class="card-text"><i class="fa fa-phone"></i>9999999999</p>
      </div>
    </div>
 </div>
 <br>
 <div class="col-sm-12">
      <h6>PAYMENT DETAILS</h6>
     <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Order No:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DX-NMDSHHS-2343535</p>
        <p class="card-text"><strong>Invoice No:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DX-2343535</p>
        <p class="card-text"><strong>PAYMENT OPTIONS</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WALLET</p>
        <p class="card-text"><strong>Order Items:</strong>7 items</p>
        <p class="card-text"><strong>Sub Total</strong>Rs 266.88</p>
        <p class="card-text"><strong>Delivery Charges</strong>Rs 50</p>
        <p class="card-text"><strong>Credit availed from Bvegan</strong>-Rs 40</p>
        <p class="card-text"><strong>Total</strong>Rs 276</p>
        <p>(Accepted food coupon for this order is Rs 0)</p>
      </div>
    </div>
 </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Items</a>
    <ng-template ngbNavContent>

      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'>
<div class="wrap cf">
  <div class="heading cf">
    <h1>My Items</h1>
  </div>
  <div class="cart">
<!--    <ul class="tableHead">
      <li class="prodHeader">Product</li>
      <li>Quantity</li>
      <li>Total</li>
       <li>Remove</li>
    </ul>-->
    <ul class="cartWrap">
      <li class="items odd">
        
    <div class="infoWrap"> 
        <div class="cartSection">
        <img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg" alt="" class="itemImg" />
          <div class="editable"><i class="fa fa-pencil"></i><p class="itemNumber" contenteditable>#QUE-007544-002</p></div>
          <div class="editable"><i class="fa fa-pencil"></i><h3 contenteditable>Item Name 1</h3></div>
          <div class="editable"><i class="fa fa-pencil"></i><p contenteditable>500gm</p></div>
          <p>Rs15.00</p>
        </div>  
    
        
        <div class="prodTotal cartSection">
          <div class="editable"><i class="fa fa-pencil"></i><p contenteditable>Quantity 1</p></div>
        </div>
              
      </div>
      </li>
      <li class="items even">
        
       <div class="infoWrap"> 
        <div class="cartSection">
          <img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg" alt="" class="itemImg" />
          <div class="editable"><i class="fa fa-pencil"></i><p class="itemNumber" contenteditable>#QUE-007544-002</p></div>
          <div class="editable"><i class="fa fa-pencil"></i><h3 contenteditable>Item Name 1</h3></div>
          <div class="editable"><i class="fa fa-pencil"></i><p contenteditable>500gm</p></div>
          <p>Rs15.00</p>      
        </div>  
    
        
        <div class="prodTotal cartSection">
           <div class="editable"><i class="fa fa-pencil"></i><p contenteditable>Quantity 1</p></div>
        </div>
              
      </div>
      </li>
      
            <li class="items odd">
             <div class="infoWrap"> 
        <div class="cartSection">
            
        <img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg" alt="" class="itemImg" />
          <p class="itemNumber">#QUE-007544-002</p>
          <h3>Item Name 1</h3>
          <p>500gm</p><br>
          <p>Rs15.00</p>
        </div>  
    
        
        <div class="prodTotal cartSection">
             <p>Quantity 1</p>
        </div>
              
              </div>
      </li>
      <li class="items even">
       <div class="infoWrap"> 
        <div class="cartSection info">
             
        <img src="https://vegies-static-images.s3.ap-south-1.amazonaws.com/tomato1.jpeg" alt="" class="itemImg" />
          <p class="itemNumber">#QUE-007544-002</p>
          <h3>Item Name 1</h3>
          <p>500gm</p><br>
          <p>Rs15.00</p>
        </div>  
    
        
        <div class="prodTotal cartSection">
           <p>Quantity 1</p>
        </div>
         </div>
    
      </li>
      
      
      <!--<li class="items even">Item 2</li>-->
 
    </ul>
  </div>
  
  
</div>



    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Modified</a>
    <ng-template ngbNavContent>

<br>
<div class="d-flex flex-column align-items-center justify-content-around">
<table id='products'>
  <thead>
    <tr>
      <th  bgcolor="#32cd32">Action</th>
      <th bgcolor="#32cd32">Item</th>
  </thead>
  <tbody>
    <div class="editable"><i class="fa fa-pencil"></i><p contenteditable>sample text</p></div>
  </tbody>
</table>
</div>
   
<br>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

